*.suo
*.user
*.sln.cache
*.dotCover
*.opensdf
*.sdf
*.ipch
*.pyc
*.iml
/build
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
/data
/logs
/localdata
/settings
/storybook-static
_ReSharper*
DevTools/RestDescriptionBuilder/RestDescriptionBuilder.vshost.exe
_Src/*.sln.cache
*.vshost.exe
*.vshost.exe.manifest
node_modules/
.gulpify/
gulpfile.js
.idea/
.vs
.tools
.vscode/
_Src/App/Diadoc.Web.Commons/Views/Shared/Commons/_webpack-assets/*
Screenshots/*.png
web-tests-output/
*.received.*
/external/DiadocShared
_SrcDevTools/packages/*
*.orig
/Deploy/Diadoc.*
nupkgs/
/_Src/Tests/Diadoc.Commons.Unit.Tests/Localization/Working/
/_Src/Hosting/WebApp/logs
LICENSE.chromedriver
/_Src/Hosting/web-app/coverage
/Deploy/houston
.artifacts